<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/reviewstyle.css">
    <link rel="stylesheet" href="/public/css/navigation.css">
</head>
<body>
    {{> _header}}
    {{{body}}}

    
</body>
</html>
