<form id="passwordResetForm" action="/reset-password" method="POST">
  <h1>Set New Password</h1>
  <div class = "passwordResetForm hidden" id = "error-container">
    <div class = "alert alert-danger text-goes-here"></div>
  </div>
  <input type="hidden" name="token" value="{{token}}" /> <!-- Token is passed here -->

  <div class="password-wrapper">
    <label for="password">New Password:</label>
    <input type="password" id="passwordReset" name="password" required />
    <button type="button" id="togglePassword" class="toggle-passwordReset">
      <i class="fa fa-eye"></i>
    </button>
  </div>

  <div class="password-wrapper">
    <label for="confirmPassword">Confirm New Password:</label>
    <input type="password" id="confirmPasswordReset" name="confirmPassword" required />
    <button type="button" id="toggleConfirmPassword" class="toggle-passwordReset">
      <i class="fa fa-eye"></i>
    </button>
  </div>

  <button type="submit">Reset Password</button>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
          integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="/public/js/password_reset.js"></script>
</form>
